# Compiler files
cache/
out/

# Foundry files
forge-cache/
forge-artifacts/
broadcast/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local history
.history/

# Deployment artifacts
deployments/